<ng-container [ngSwitch]="loading">

  <!-- Content -->
  <ng-container *ngSwitchCase="false">
    <h1>{{hotel.name}}</h1>
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
      <tabset type="pills">
        <tab heading="Basic Information">
          <!-- Name -->
          <app-form-control-text-input [group]="myForm" name="name" label="Name" invalidMessage="Minimum 5 characters."></app-form-control-text-input>
          <!-- Code -->
          <app-form-control-text-input [group]="myForm" name="code" label="Code"></app-form-control-text-input>
        </tab>
        <tab heading="Address">
          <app-form-control-text-input [group]="myForm.controls.address" name="streetAddress" label="Street Address"></app-form-control-text-input>
          <app-form-control-text-input [group]="myForm.controls.address" name="city" label="City"></app-form-control-text-input>
          <app-form-control-text-input [group]="myForm.controls.address" name="state" label="State"></app-form-control-text-input>
          <app-form-control-text-input [group]="myForm.controls.address" name="postalCode" label="Postal Code"></app-form-control-text-input>
        </tab>
        <tab heading="Restaurants">
          <app-restaurants-edit [group]="myForm" name="restaurants" (onAdd)="addRestaurant()" (onRemove)="removeRestaurant($event)"></app-restaurants-edit>
        </tab>
      </tabset>
      <button type="submit" [disabled]="!myForm.valid">Save <i class="fa fa-save"></i></button>
    </form>
  </ng-container>

  <!-- Loading -->
  <ng-container *ngSwitchCase="true">
    <sk-rotating-plane></sk-rotating-plane>
  </ng-container>

</ng-container>