<app-breadcrumbs></app-breadcrumbs>
<app-star-banner text="Login"></app-star-banner>
<div class="row">
  <div class="main" *ngIf="!(isLoggedIn()|async)">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#" class="btn btn-lg btn-primary btn-block" (click)="loginVia('twitter', $event)">Twitter <i class="fa fa-twitter"></i> </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#" class="btn btn-lg btn-info btn-block" (click)="loginVia('google', $event)">Google <i class="fa fa-google"></i></a>
      </div>
    </div>
    <div class="login-or">
      <hr class="hr-or">
      <span class="span-or">or</span>
    </div>
    <form role="form">
      <div class="form-group">
        <label for="email">Email</label>
        <input required type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
      </div>
      <button class="btn btn btn-primary" (click)="login()">
        Log In <i class="fa fa-sign-in"></i>
      </button>
      <a routerLink="/create-user" class="btn btn-success">
      Sign Up <i class="fa fa-user-plus"></i>
      </a>
    </form>
  </div>
</div>
