<ng-container [ngSwitch]="loading">

  <!-- Content -->
  <ng-container *ngSwitchCase="false">
    <div class="jumbotron">
      <h1 *ngIf="hotel.code">
        <span class="badge badge-pill badge-info">{{hotel.code}}</span>
      </h1>
      <h2>{{hotel.name}}</h2>
      <address class="lead" *ngIf="address">
        {{address.streetAddress}}<span [hidden]="hideAddrComma">,</span> {{address.city}}<span [hidden]="hideCityComma">,</span> {{address.state}} {{address.postalCode}}
      </address>
      <button (click)="edit($event)" class="edit-btn">Edit <i class="fa fa-edit"></i></button>
    </div>
    <tabset type="pills">
      <tab heading="Restaurants">
        <accordion closeOthers="true">
          <accordion-group #group *ngFor="let restaurant of hotel.restaurants">
            <div accordion-heading>
              {{restaurant.name}}
              <div class="pull-right" [ngSwitch]="group?.isOpen">
                <i *ngSwitchCase="false" class="fa fa-chevron-right"></i>
                <i *ngSwitchCase="true" class="fa fa-chevron-down"></i>
                <i *ngSwitchDefault class="fa fa-chevron-right"></i>
              </div>
            </div>
            <dl>
              <dt>Phone Number</dt>
              <dd>{{restaurant.phoneNumber}}</dd>
            </dl>
          </accordion-group>
        </accordion>
      </tab>
      <tab heading="Lounges"></tab>
    </tabset>
  </ng-container>

  <!-- Loader -->
  <ng-container *ngSwitchCase="true">
    <sk-rotating-plane></sk-rotating-plane>
  </ng-container>

</ng-container>