<ng-container [ngSwitch]="loading">
  <!-- Content -->
  <ng-container *ngSwitchCase="false">
    <div class="jumbotron">
      <h1 *ngIf="(hotel$|async)?.code">
        <span class="badge badge-info">{{(hotel$|async)?.code}}</span>
      </h1>
      <h2>
        {{(hotel$|async)?.name}}
      </h2>
      <address class="lead" *ngIf="address">
        {{address.streetAddress}}<span [hidden]="hideAddrComma">,</span> {{address.city}}<span [hidden]="hideCityComma">,</span> {{address.state}} {{address.postalCode}}
      </address>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="true">
    <sk-rotating-plane></sk-rotating-plane>
  </ng-container>
</ng-container>