<app-star-banner text="Users"></app-star-banner>
<table class="table">
  <thead>
    <th></th>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </thead>
  <tbody>
    <tr class="user" *ngFor="let user of users">
      <td (click)="editUser(user)" class="thumbnail"><img *ngIf="!!user.photoURL" src="{{user.photoURL}}" /></td>
      <td (click)="editUser(user)">{{user.displayName}}</td>
      <td (click)="editUser(user)">{{user.email}}</td>
      <td>
        <div class="btn-group btn-group-sm">
          <button (click)="deleteUser(user)" class="btn btn-danger"><i class="fa fa-remove"></i> Remove</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
