<div [formGroup]="myForm">
  <div [formArrayName]="arrayName">
    <div *ngFor="let restaurant of restaurantArray.controls; let i = index;">
      <h4>New Restaurant</h4>
      <div [formGroupName]="i">
        <app-form-control-text-input [group]="restaurant" name="name" label="Name"></app-form-control-text-input>
        <app-form-control-text-input [group]="restaurant" name="phoneNumber" label="Phone Number"></app-form-control-text-input>
      </div>
    </div>
  </div>
</div>
<!--<tab heading="Restaurants">
          <div formArrayName="restaurants">
            <div *ngFor="let restaurant of myForm.controls.restaurants.controls; let i = index">
              <div>
                <span>Restaurant {{i + 1}}</span>
                <span *ngIf="myForm.controls.restaurants.length > 1" (click)="removeRestaurant(i)"><i class="fa fa-close"></i></span>
              </div>
              <div [formGroupName]="i">
                <app-restaurants-edit [group]="myForm.controls.restaurants.controls[i]"></app-restaurants-edit>
              </div>
            </div>
          </div>
          <a class="btn btn-link" (click)="addRestaurant()">Add another restaurant +</a>
        </tab>-->