<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">{{title}}</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul [ngSwitch]="isLoggedIn()|async" class="navbar-nav mr-auto">
          <ng-container *ngSwitchCase="true">
            <li routerLinkActive="active" class="nav-item">
              <a routerLink="/hotels" class="nav-link">Hotels</a>
            </li>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <li routerLinkActive="active" class="nav-item">
              <a routerLink="/learn-more" class="nav-link">Learn More</a>
            </li>
          </ng-container>
        </ul>
        <ul [ngSwitch]="isLoggedIn()|async" class="navbar-nav ml-auto">
          <ng-container *ngSwitchCase="true">
            <li class="nav-item">
              <a class="nav-link">{{(currentUser()|async).displayName}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
          </ng-container>
        </ul>
      </div>
  </div>
</nav>
