@import "../../../styles.scss";
.card {
  @extend .my-2;
  @extend .mr-2;
  &>.badge {
    @extend .badge-pill;
    @extend .badge-primary;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.card-header {
  @extend .bg-primary;
  @extend .text-white;
  @extend .d-flex;
  @extend .justify-content-between;
}
