@import "../../../styles.scss";
:host {
  @extend .d-flex;
  @extend .flex-wrap;
  @extend .justify-content-center;
}

.header {
  @extend .d-flex;
  @extend .justify-content-around;
  @extend .align-items-center;
  @extend .w-100;
  @extend .text-primary;
  .fa-star {
    font-size: 40px;
    color: transparentize($brand-primary, .5);
  }
}

h1 {
  @extend .display-4;
  @extend .text-center;
  @extend .text-primary;
  @extend .my-4;
  font-family: $brand-font-display;
}

.input-group {
  @extend .my-2;
  @extend .w-75;
}

.card-list {
  @extend .d-flex;
  @extend .flex-wrap;
  @extend .justify-content-around;
}

.card {
  width: 32%;
  @extend .my-2;
  &>.card-block {
    @extend .d-flex;
    @extend .align-items-center;
  }
  &>.badge {
    @extend .badge-pill;
    @extend .badge-primary;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.card-header {
  @extend .bg-primary;
  @extend .text-white;
  @extend .d-flex;
  @extend .justify-content-between;
}
