<ng-container [ngSwitch]="loading">

  <!-- Loader -->
  <ng-container *ngSwitchCase="true">
    <div class="spinner"></div>
  </ng-container>

  <!-- Content -->
  <ng-container *ngSwitchCase="false">
    <div class="card-container">
      <div (click)="navigateToHotel(hotel, $event)" class="card" *ngFor="let hotel of hotels">
        <img *ngIf="!!hotel.images?.thumbnail" [src]="hotel.images?.thumbnail" alt="{{hotel.name}}" class="card-img-top img-fluid">
        <div class="card-header">
          <a (click)="navigateToHotel(hotel)" class="text-truncate">{{hotel.name}}</a>
          <span *ngIf="hotel.code" class="badge badge-pill badge-info">{{hotel.code}}</span>
        </div>
      </div>
    </div>
  </ng-container>

</ng-container>