<ng-container [ngSwitch]="loading">

  <!-- Loader -->
  <ng-container *ngSwitchCase="true">
    <div class="spinner"></div>
  </ng-container>

  <!-- Content -->
  <ng-container *ngSwitchCase="false">
    <app-star-banner text="Hotels"></app-star-banner>
    <div class="tools">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input (keyup)="filterHotels($event)" type="text" class="form-control" placeholder="Filter hotels...">
      </div>
      <button class="btn btn-success" (click)="addHotel()">Add Hotel <i class="fa fa-plus"></i></button>
    </div>
    <div class="card-list">
      <div (click)="navigateToHotel(hotel, $event)" class="card" *ngFor="let hotel of hotels$ | async">
        <img *ngIf="!!hotel.images?.thumbnail" [src]="hotel.images?.thumbnail" alt="{{hotel.name}}" class="card-img-top img-fluid">
        <span *ngIf="hotel.code" class="badge">{{hotel.code}}</span>
        <div class="card-header">
          <a (click)="navigateToHotel(hotel)" class="text-truncate">{{hotel.name}}</a>
        </div>
      </div>
    </div>
  </ng-container>

</ng-container>
