<div class="jumbotron">
  <div class="card">
    <div class="stars">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <img src="assets/R-logo.png" class="logo" />
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
    <div class="card-block">
      <h1>{{title}}</h1>
      <p class="lead">{{tagline}}</p>
      <a class="btn btn-primary btn-lg" routerLink="/learn-more">
        <i class="fa fa-star"></i> Learn more
        <i class="fa fa-star"></i>
      </a>
    </div>
  </div>
</div>
<div class="cards">
  <div class="card">
    <div class="card-header">
      <h4>Five-Star Staff</h4>
    </div>
    <div class="card-block">
      <p>Get your staff up-and-running quickly with a quality and speed that makes life easier for all your staff!</p>
      <a class="btn btn-primary" routerLink="/learn-more">Show me!</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4>Five-Star Tools</h4>
    </div>
    <div class="card-block">
      <p>Instantly communicate information between your property and your reservations team!</p>
      <a class="btn btn-primary" routerLink="/learn-more">Show me!</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4>Five-Star Experiences</h4>
    </div>
    <div class="card-block">
      <p>Wow your guests from their first contact by providing your team with everything they need to succeed!</p>
      <a class="btn btn-primary" routerLink="/learn-more">Show me!</a>
    </div>
  </div>
</div>
