<div class="jumbotron">
  <div class="card">
    <div class="stars">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <img src="assets/r-logo.png" class="logo" />
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
    <div class="card-block">
      <h1>{{title}}</h1>
      <p class="lead">{{tagline}}</p>
      <a class="btn btn-primary btn-lg" routerLink="/learn-more">Learn more</a>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <div class="card-block">
      <h4>Five-Star Staff</h4>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h4>Five-Star Tools</h4>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h4>Five-Star Experiences</h4>
    </div>
  </div>
</div>
